<%- include('partials/header', { title: 'About' }) %>

<h2>About me</h2>
<p>I am half Turkish and half Pakistani. My major is Networking and IT Security, I started in 2024 and I am looking forward to graduating in 2028.</p>

<%- include('partials/footer') %>