<%- include('partials/header') %>

<div class="text-center mt-5">
  <h1 class="mb-3">Welcome to My Portfolio</h1>
  <h3 class="text-secondary">Zain Iqbal</h3>
  <p class="lead">Student at Ontario Tech University, studying Networking and IT Security.</p>

  <a href="/projects" class="btn btn-primary mt-3">View My Projects</a>
</div>

<%- include('partials/footer') %>